<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="head">
    <h1>University Event System</h1>
    <ul>
      <li class="dropdown">
        <a href="/home/" class="dropbtn">Home</a>
      </li>

      <li class="dropdown">
          <a href="/events/" class="dropbtn">Events</a>

          <div class="dropdown-content">
            <a href="/events/">All</a>
            <a href="/events/public/">Public</a>
            <a href="/events/private/">Private</a>
            <a href="/events/rso/">RSO</a>
          </div>
      </li>

      <li class="dropdown">
        <a href="/groups/" class="dropbtn">Groups</a>

        <div class="dropdown-content">
          <a href="/groups/">All</a>
          <a href="/groups/joined/">Joined</a>
          <a href="/groups/rso/">RSO</a>
          <a href="/groups/fraternities/">Fraternities</a>
          <a href="/groups/serrorities/">Serrorities</a>
          <a href="/groups/clubs/">Clubs</a>
        </div>
      </li>

      <li class="dropdown">
          <a href="/universities/" class="dropbtn">Universities</a>

          <div class="dropdown-content">
            <a href="/universities/">All</a>
            <a href="/universities/enrolled/">Currently Enrolled</a>
            <a href="/universities/not-enrolled/">Not Enrolled</a>
          </div>
      </li>
    </ul>

    <ul>
      <li class="dropdown">
        <a href="/events/add/" class="dropbtn">Add Event</a>
      </li>

      <li class="dropdown">
        <a href="/groups/add/" class="dropbtn">Add Group</a>
      </li>
    </ul>
  </div>
