<html>

<head>
    <title>{% block title %}{% endblock %}</title>


    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'rso/style.css' %}" />
</head>

<body>

  <nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'rso:index'  %}">RSO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="{% url 'rso:profile' %}">Profile<span class="sr-only">(current)</span></a></li>

        <li><a href="{% url 'rso:map' %}">Event Map</a></li>

        <li><a href="{% url 'rso:joinRso' %}">Join RSOs</a></li>

        <li><a href="{% url 'rso:createRso' %}">Create RSO</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'rso:profile' %}">{{ request.user.username }}</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'rso:signup' %}">Sigh Up</a>
            </li>
          {% endif %}
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <div id="sidePanel" class="col-md-2"></div>

  <div style="min-height: 800px" class="panel panel-default col-md-8 center-panel">
    <div class="centerPanel">
        {% block content %}
        {% endblock content %}
    </div>
  </div>

  <div id="sidePanel" class="col-md-2"></div>

</body>

</html>
