{% extends 'rso/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}


    <div class="col-md-1">
    </div>


        <div class="col-md-10">
            <div class="panel panel-default">
                <div  class="panel-heading panel-heading-custom">Your RSOs</div>

                {% if allRSOs %}
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="row"></th>
                                    <td><b>RSO Name</b></td>
                                    <td><b>Description</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rso in allRSOs %}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>{{ rso.name }}</td>
                                        <td>{{ rso.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="panel-body">There are no RSOs.</div>
                {% endif %}

            </div>
        </div>


    {% if allStudents %}
        {% for student in allStudents %}
        <button class="btn btn-default"><a href="{% url 'rso:detail' student.id %}">Student Username: {{ student.user.username }}</a></button><br>
        {% endfor %}
    {% else %}
        <h3>There are no students</h3>
    {% endif %}
{% endblock %}