{% extends 'rso/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div style="padding-bottom: 20px;" class="col-md-12"></div>
        </div>

        <div class="row">

            <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">About {{ request.user.username }} </div>
                        <div class="panel-body">
                            <p>{{ request.user.student.aboutMe }}</p>
                        </div>

                    </div>

            </div>


            <div class="col-md-5">
                <div class="panel panel-default">
                    <div  class="panel-heading panel-heading-custom">Your RSOs</div>


                    <div class="panel-body">

                        {% if request.user.student.member.all %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="row"></th>
                                    <td>RSO Name</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rso in request.user.student.member.all %}
                                    <th scope="row"></th>
                                    <td>{{ rso.name }}</td>
                                    <td>{{ rso.description }}</td>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <div class="panel-body">Not a member of any RSOs yet.</div>
                        {% endif %}

                    </div>
                </div>
            </div>






        </div>
    </div>


{% endblock %}