body{
	background-color: #1d7fb3;
}

.center-panel {
    background-image: none;
    background-color: #5a5a5a;
}



table, th {
    border-color: black;
}

.panel-default > .panel-heading-custom {
    background-color: black;
    color: white;
    border-color: black;
>>>>>>> master
}
