body{
	background-color: #1d7fb3;
}

.center-panel {
    background-image: none;
    background-color: #5a5a5a;
}

table, th {
    border-color: black;
}

.panel-default > .panel-heading-custom {
    background-color: black;
    color: white;
    border-color: black;
}

div  #map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

div.row {
    margin-top: 20px;
    margin-bottom: 20px;
}
