<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <!--<link rel="stylesheet" type="text/css" href="{% static 'rso/style.css' %}" />-->

        <!-- bootstrap links -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <ul class="nav nav-tabs">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Admin</a>
      </li>
      <li>
        <a href="#">Rso</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">one</a>
            </li>
            <li>
                <a href="#">two</a>
            </li>
            <li>
                <a href="#">three</a>
            </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'rso:student-add' %}">SignUp</a>
      </li>
    </ul>

        {% block content %}
        {% endblock content %}
    </body>
</html>